:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --inner-shadow-right: 14px 14px 0px 0px #242424;
  --outer-shadow-right: 15px 15px 0px 5px #5de3fe;
  --outer-shadow-left: -15px 15px 0px 5px #5de3fe;
  --inner-shadow-left: -14px 14px 0px 0px #242424;
  --gradient: linear-gradient(60deg, #16b8f3, #8d14f8);
  --gradient-reverse: linear-gradient(60deg, #480186, #057198);

  color-scheme: light dark;
  background-color: #1c1732;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", "Serial", sans-serif;
}

main {
  padding: 0 5vw;
}

.header {
  display: grid;
  grid-template-columns: 1fr 12fr;
  padding: 0 0.5rem;
  position: sticky;
  width: 100vw;
  top: 0;
  left: -5vw;
  z-index: 2;
  background: #1c173280;
  backdrop-filter: blur(10px);
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 4rem;
  width: auto;
}
nav {
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.25rem 0.5rem;
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav ul li {
  margin: 0 1rem;
  cursor: pointer;
  padding: 0.1rem 0.25rem;
}

nav ul li:hover {
  background-color: #5de3fe;
  border-radius: 5px;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
}

.btn-primary {
  background: var(--gradient);
}

.btn-secondary {
  background: #242424;
  border: 2px solid #16b8f3;
}

.btn:hover {
  box-shadow: 2px 2px 2px 2px#16b8f3;
}

.hero {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin: 1.5rem 0;
  height: 80vh;
  padding: 3rem 1rem;
}

.hero p {
  font: 900 5em/1.2 Georgia, "Times New Roman", Times, serif;
  width: 70%;
  margin: 0.5rem 2rem 2rem;
  /* align-self: last baseline; */
}

.I-am {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: #a9a9a9;
  font-family: poppins, Arial, Helvetica, sans-serif;
  margin: 0;
}

.hero .btn {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  padding: 3.5rem 5vw;
}

.about img {
  width: 35%;
  height: auto;
  box-shadow: var(--inner-shadow-left), var(--outer-shadow-left);
}

.about .description {
  width: 50%;
  font-size: 1rem;
  line-height: 1.6;
}

.about .description p {
  margin-bottom: 1rem;
  color: #a9a9a9;
}

.about .description h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .btn {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.services {
  position: relative;
  padding: 3.5rem 1rem;
  margin: 2rem 1rem;
  height: 90vh;
}

.services h2 {
  font-size: 2rem;
  margin: 0.5rem auto;
  text-align: center;
  color: #fff;
}

.services-container {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.card-service {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  border: 3px solid;
  border-top-color: #8d14f8;
  border-left-color: #8d14f8;
  border-bottom-color: #16b8f3;
  border-right-color: #16b8f3;
  background-color: #242424;
  width: 30vw;
  box-shadow: 0px 0px 5px 5px #16b8f3;
}
.card-service .description {
  color: #a9a9a9;
}
.card-service:hover {
  transition: linear 0.5s;
  scale: 1.1;
}

.projects {
  position: relative;
  padding: 3.5rem 1rem;
  margin: 1rem;
}

.projects h2 {
  font-size: 2rem;
  margin: 0.5rem auto;
  text-align: center;
  color: #fff;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.project:nth-child(odd) {
  flex-direction: row-reverse;
}

.project img {
  width: 40%;
  height: auto;
  background-color: #057198;
  box-shadow: var(--inner-shadow-right), var(--outer-shadow-right);
}

.card-project {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  width: 30vw;
}

.card-project h3 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #16b8f3;
}

.card-project p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.card-project .description {
  color: #a9a9a9;
}

.card-project .btn {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.ellipses {
  width: 120vw;
  position: relative;
  top: 15vw;
  left: -15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ellipse-left,
.ellipse-right {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background: linear-gradient(180deg, #16b8f382, #8d14f882);
  z-index: 1;
}

.contacts {
  width: 110%;
  position: relative;
  left: -7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 10rem 10rem 0 0;
  background: var(--gradient-reverse);
}

.form-send-mail {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.75rem;
  border-radius: 10px;
  background: linear-gradient(45deg, #057198, #480186);
}
.form-send-mail div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  margin: 0.5rem;
}

.form-send-mail input,
.form-send-mail textarea {
  width: 90%;
  padding: 0.5rem 0.5rem;
  margin: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #1c1732;
  color: #fff;
}

.form-send-mail textarea {
  height: 5rem;
}

.form-send-mail #btn-submit {
  background-color: #1c1732;
}

.footer {
  background: var(--gradient-reverse);
  color: #fff;
  width: 110vw;
  position: relative;
  left: -5vw;
  padding: 1rem;
  text-align: center;
}
