:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --inner-shadow-right: 14px 14px 0px 0px #242424;
  --outer-shadow-right: 15px 15px 0px 5px #5de3fe;
  --outer-shadow-left: -15px 15px 0px 5px #5de3fe;
  --inner-shadow-left: -14px 14px 0px 0px #242424;
  --gradient: linear-gradient(60deg, #16b8f3, #8d14f8);
  --gradient-reverse: linear-gradient(60deg, #480186, #057198);

  color-scheme: light dark;
  background-color: #1c1732;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  padding: 0;
}

body {
  font-family: "Poppins", "Serial", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #fff;
}

/* 

This CSS file defines the styles for a React portfolio project. Below is a breakdown of the styles:

1. General Layout:
  - `main`: Adds padding to the main content area.
  - `header`: Sticky header with a grid layout, background blur effect, and responsive width.
  - `logo`: Styles for the logo container and image.
  - `horizontal-list`: Horizontal navigation list with hover effects.

2. Buttons:
  - `.btn`: Base button styles with padding, border-radius, and hover effects.
  - `.btn-primary`: Primary button with gradient background.
  - `.btn-secondary`: Secondary button with a solid border and background.

3. Hero Section:
  - `.hero`: Flex container for the hero section with large typography and button styles.
  - `.I-am`: Inline-block text with custom font and color.

4. About Section:
  - `.about`: Flex container for the about section with image and description alignment.
  - `.description`: Text styling for paragraphs and headings.

5. Services Section:
  - `.services`: Container for services with a title and card layout.
  - `.card-service`: Individual service card with hover scaling and border styling.

6. Projects Section:
  - `.projects`: Container for project cards with alternating row directions.
  - `.card-project`: Individual project card with headings, descriptions, and buttons.

7. Decorative Elements:
  - `.ellipses`: Decorative ellipses with gradient backgrounds for visual design.

8. Contacts Section:
  - `.contacts`: Flex container for contact information with a gradient background.
  - `.form-send-mail`: Form styling for sending emails, including input and textarea fields.

9. Footer:
  - `.footer`: Footer section with gradient background and centered text.

10. Miscellaneous:
   - Various hover effects, transitions, and responsive design considerations are applied throughout the file.
*/
main {
  padding: 0 5vw;
}

.header {
  display: grid;
  grid-template-columns: 1fr 12fr;
  padding: 0 0.5rem;
  position: sticky;
  width: 100vw;
  top: 0;
  left: -5vw;
  z-index: 2;
  background: #1c173280;
  backdrop-filter: blur(10px);
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 4rem;
  width: auto;
}

.horizontal-list {
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.25rem 0.5rem;
  color: #fff;
}

.horizontal-list ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.horizontal-list ul li {
  margin: 0 1rem;
  cursor: pointer;
  padding: 0.1rem 0.25rem;
}

.horizontal-list ul li:hover {
  background-color: #5de3fe;
  border-radius: 5px;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
}

.btn-primary {
  background: var(--gradient);
}

.btn-secondary {
  background: #242424;
  border: 2px solid #16b8f3;
}

.btn:hover {
  box-shadow: 2px 2px 2px 2px#16b8f3;
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  height: 80vh;
  padding: 3rem 1rem;
}

.hero p {
  font: 900 5em/1.2 Georgia, "Times New Roman", Times, serif;
  width: 70%;
  margin: 0.5rem 2rem 2rem;
}

.I-am {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: #a9a9a9;
  font-family: poppins, Arial, Helvetica, sans-serif;
  margin: 0;
}

.hero .btn {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  padding: 3.5rem 5vw;
}

.about img {
  width: 35%;
  height: auto;
  box-shadow: var(--inner-shadow-left), var(--outer-shadow-left);
}

.about .description {
  width: 50%;
  font-size: 1rem;
  line-height: 1.6;
}

.about .description .par {
  margin-bottom: 1rem;
  color: #a9a9a9;
  width: 100%;
  display: block;
}

.about .description h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .btn {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.services {
  padding: 3.5rem 1rem;
  margin: 2rem 1rem;
  height: 90vh;
}

.services h2 {
  font-size: 2rem;
  margin: 0.5rem auto;
  text-align: center;
  color: #fff;
}

.services-container {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.card-service {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  border: 3px solid;
  border-top-color: #8d14f8;
  border-left-color: #8d14f8;
  border-bottom-color: #16b8f3;
  border-right-color: #16b8f3;
  background-color: #242424;
  width: 30vw;
  box-shadow: 0px 0px 5px 5px #16b8f3;
}
.card-service .description {
  color: #a9a9a9;
}
.card-service:hover {
  transition: linear 0.5s;
  scale: 1.1;
}

.projects {
  position: relative;
  padding: 3.5rem 1rem;
  margin: 1rem;
}

.projects h2 {
  font-size: 2rem;
  margin: 0.5rem auto;
  text-align: center;
  color: #fff;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap:2rem;
  margin: 1rem;
  padding: 1rem;
}

.project:nth-child(odd) {
  flex-direction: row-reverse;
}
.project .motion {
  width:50%;
  height:100%;
}
.project img {
  width: 100%;
  height: auto;
  background-color: #057198;
  box-shadow: var(--inner-shadow-right), var(--outer-shadow-right);
}

.card-project {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  width: 30vw;
}

.card-project h3 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #16b8f3;
}

.card-project p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.card-project .description {
  color: #a9a9a9;
}

.card-project .btn {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.experiences {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 1rem;
  margin: 1rem;
}
.experiences h2 {
  font-size: 2rem;
  margin: 0.5rem auto;
  text-align: center;
  color: #fff;
}
.experiences-one, .experiences-two {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  overflow: hidden;
}
.experience {
 width:4rem;
 height:auto;
 margin:1rem 2rem;
}

.moving {
  margin: 1rem 2rem;
}

.experience img {
  width:100%;
  height:auto;
} 

.ellipses {
  width: 120vw;
  position: relative;
  top: 15vw;
  left: -15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ellipse-left,
.ellipse-right {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background: linear-gradient(180deg, #16b8f382, #8d14f882);
  z-index: 1;
}

.contacts {
  width: 110%;
  position: relative;
  left: -7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 10rem 10rem 0 0;
  background: var(--gradient-reverse);
}

.form-send-mail {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.75rem;
  border-radius: 10px;
  background: linear-gradient(45deg, #057198, #480186);
}
.form-send-mail div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  margin: 0.5rem;
}

.form-send-mail input,
.form-send-mail textarea {
  width: 90%;
  padding: 0.5rem 0.5rem;
  margin: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #1c1732;
  color: #fff;
}

.form-send-mail textarea {
  height: 5rem;
}

.form-send-mail #btn-submit {
  background-color: #1c1732;
}

.footer {
  background: var(--gradient-reverse);
  color: #fff;
  width: 110vw;
  position: relative;
  left: -5vw;
  padding: 1rem;
  text-align: center;
}
/* 

Responsive Styles for Screen Widths up to 768px:

- `main`: Removes padding for a compact layout.
- `.header`: Adjusts to inline-flex layout, spaces elements, and reduces width to 90vw.
- `.logo img`: Scales logo height and adds margin for spacing.
- `.vertical-list`: Switches to a vertical column layout for navigation.
- `.vertical-list ul li`: Adds spacing, cursor pointer, and bottom border for list items.
- `.nav-link`: Expands navigation links to full width.
- `.toggle-btn`: Enlarges toggle button for better visibility and aligns it.
- `.not-expanded`: Hides elements when not expanded.
- `.btn`: Adjusts button font size for smaller screens.
- `.hero`: Centers hero section content and adjusts padding.
- `.I-am`: Reduces font size and aligns text to the left.
- `.hero p`: Scales font size, adjusts width, and adds margin for spacing.
- `.about`: Reverses flex direction, adjusts spacing, and ensures content fits.
- `.about img`: Maintains auto height for images.
- `.about .description`: Adjusts width, font size, and padding for descriptions.
- `.about .par`: Sets width and height for paragraph sections.
- `.about .btn`: Scales buttons and adjusts margins for spacing.
- `.services`: Adds padding and ensures content height fits.
- `.services-container`: Expands container width to full screen.
- `.card-service`: Reduces card width for better fit.
- `.projects`: Adds padding for project section.
- `.project`: Switches to column-reverse layout and centers content.
- `.project:nth-child(odd)`: Ensures consistent column-reverse layout for odd projects.
- `.project img`: Scales project images to 90% width.
- `.card-project`: Reduces card width for better fit.
- `.ellipses`: Adjusts position and width for decorative ellipses.
- `.ellipse-left, .ellipse-right`: Sets consistent size for left and right ellipses.
- `.contacts`: Switches to column layout, adjusts border radius, and positions content.
- `.form-send-mail`: Reduces form width for smaller screens.
*/

@media (max-width: 768px) {
  main {
    width:100%;
    padding: 0;
    overflow-x: hidden;
  }
  .header {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 6rem;
    width: 90vw;
  }
  .logo img {
    height: 3rem;
    margin: 0.5rem;
  }

  .vertical-list {
    display: block;
    display: flex;
    flex-direction: column;
  }
  .vertical-list ul li {
    margin: 0 1rem;
    cursor: pointer;
    list-style: none;
    padding: 0.5rem 0.25rem;
    border-bottom: 1px solid #8d14f8;
  }
  .nav-link {
    width: 100%;
  }
  .toggle-btn {
    font-size: 2rem;
    align-self: last baseline;
    cursor: pointer;
  }
  .not-expanded {
    display: none;
  }
  .btn {
    font-size: 1rem;
  }
  .hero {
    width: 100vw;
    padding: 3rem 2vw;
    align-items: center;
    justify-content: center;
  }
  .I-am {
    font-size: 1.5rem;
    width: 80%;
    text-align: left;
  }
  .hero p {
    font-size: 3rem;
    width: 80%;
    margin: 0.5rem 0rem 3rem;
  }
  .about {
    flex-direction: row-reverse;
    justify-content: space-between;
    height: fit-content;
    padding: 1rem;
  }
  .about img {
    height: auto;
  }
  .about .description {
    width: 50%;
    font-size: 1.2rem;
    padding: 2rem 0rem;
    margin: 1rem;
  }
  .about .par {
    width:90%;
  }
  .about .btn {
    display: inline-block;
    font-size: 0.8rem;
    width: fit-content;
    margin: 0.6rem;
  }
  .services {
    padding: 3rem 3rem 3rem 2rem;
    height: fit-content;
    width:75%;
  }
  .services-container {
    width: 100%;
  }
  .card-service {
    width: 85%;
  }
  .projects {
    padding: 3rem 1rem;
  }
  .project {
    flex-direction: column-reverse;
    align-items: center;
  }
  .project:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .project img {
    width: 100%;
  }
  .project img:hover {
    scale:1.5
  }
  .card-project {
    width: 80%;
  }
  .ellipses {
    left: -12vw;
    width: 120vw;
  }
  .ellipse-left,
  .ellipse-right {
    width: 20vh;
    height: 20vh;
  }
  .contacts {
    flex-direction: column;
    border-radius: 7rem 7rem 0 0;
    width: 100%;
    left: -3vw;
  }
  .form-send-mail {
    width: 90%;
  }
}
@media (max-width: 430px) {
  body {
    overflow-x: hidden;
  }
  .about img {
    display: none;
  }
  .about .description {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
  }
}